* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Caveat', cursive;
}
*,*::before,*::after{
  box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,header,aside {display: block;}
html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
a {
  display: block;
}
body {
  background-color: #161521;
  position: relative;
}
body::after {
  content: '';
  display: block;
  width: 2px;
  height: 65%;
  background: #232332;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 50%;
  transform: translateY(-50%);
}
h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  font-size: 100px;
  font-weight: bold;
  color: #fff;
}

@supports (-webkit-text-stroke: 1px white) {
  h1 {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > * > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

main > * > * > img {
  border: 1px solid #232332;
  border-radius: 50px;
  box-shadow: 0px 0px 50px 15px #1c1c2c;
}

.long_wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-110%, -50%);
  transition: all 0.5s ease-in-out;
}

.dynamic_wrapper {
  top: 50%;
  right: 50%;
  transform: translate(110%, -50%);
  transition: all 0.5s ease-in-out;
}

.main_btn {
  margin-top: 40px;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.long_link:hover .long_wrapper{
  transform: scale(1.05) translate(-115%, -48%);
}
@supports (-webkit-text-stroke: 1px white) {
  .long_link:hover .long_wrapper h3 {
    color: transparent;
    -webkit-text-stroke: 1px white;
    transform: scale(1.2);
  }
}

.dynamic_link:hover .dynamic_wrapper{
  transform: scale(1.05) translate(115%, -48%);
}
@supports (-webkit-text-stroke: 1px white) {
  .dynamic_link:hover .dynamic_wrapper h3 {
    color: transparent;
    -webkit-text-stroke: 1px white;
    transform: scale(1.2);
  }
}